@use '../../mixin.scss';
@include mixin.phone {
  .welcomeSection {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
    border-radius: 0.375rem;
    padding: 0.5rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom right, #E2E1E1, #C6C5C5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.35);

    &__title {
      color: gray;
      font-weight: 600;
      font-family: CooperHewitt, sans-serif;
      font-size: 2rem;
    }
  }

}
@include mixin.tablet {

}
@include mixin.mediumTablet {
  .welcomeSection {
    padding: 2.5rem;
  }

}
@include mixin.largeTablet {

}
@include mixin.desktop {

}
@include mixin.desktopLarge {

}